# Analytical views

##### Notebook description

This notebook creates analytical views, based on the star schema, to answer a few different questions based on the data.

### Analytical questions:

- **Question 1**: What are the most common characteristics of the songs on the viral and top playlists? This could include tempo, danceability, acousticity, duration, key, liveliness, release year, etc. Can also include some of the song adjectives 
- **Question 2**: What is the influence of certain countries' top music charts? For example, the top songs in the US become the top songs in Europe a few weeks after that, and in Asia, another few weeks after that 
- **Question 3??**: Figure out what kind of relationship there is between a song being on the viral playlist and being on the top hits playlist. For example, does being on the viral playlist mean being on the top playlist is likely in a few weeks?
- **Question 4**: Seeing if #1 varies based on the region. For example, does a certain tempo or danceability matter more in certain regions?
- **Question 5**: To the extent I have data on this, figure out which artists are the most likely to have influenced the artists that come up on the popular charts. See how this varies by region, genre, chart, etc.

## Setup

In [1]:
%load_ext sql

/Users/jakemainwaring/.pyenv/versions/3.7.3/lib/python3.7/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
from time import time
import boto3
import configparser
import pandas as pd

In [6]:
config = configparser.ConfigParser()
config.read_file(open('src/redshift.cfg'))

HOST=config.get('CLUSTER', 'HOST')
DB_NAME=config.get('CLUSTER', 'DB_NAME')
DB_USER=config.get('CLUSTER', 'DB_USER')
DB_PASSWORD=config.get('CLUSTER', 'DB_PASSWORD')
DB_PORT=config.get('CLUSTER', 'DB_PORT')

KEY=config.get('KEYS', 'KEY')
SECRET=config.get('KEYS', 'SECRET')

ARN=config.get('IAM_ROLE', 'ARN')

In [8]:
# import os 
conn_string="postgresql://{}:{}@{}:{}/{}".format(DB_USER, DB_PASSWORD, HOST, DB_PORT, DB_NAME)
print(conn_string)
%sql $conn_string

postgresql://capstoneuser:P6cq2n!kan@capstone-proj.c0df8unkdobb.us-west-2.redshift.amazonaws.com:5439/dev

In [9]:
s3 = boto3.resource('s3',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                   )

s3Bucket = s3.Bucket("spotify-dataeng-nano")

s3client = boto3.client('s3')

------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

## Common characteristics of hits

**Description**: What are the most common characteristics of the songs on the viral and top playlists? This could include tempo, danceability, acousticity, duration, key, liveliness, release year, etc. Can also include some of the song adjectives

*Table*:	Find the songs that are the most commonly found on the top charts, and then start to keep track of characteristics

In [134]:
%%sql
SELECT fcm.id_song, count(*), title, ds.id_artists
FROM fct_chart_movement fcm
JOIN dim_song ds 
    ON fcm.id_song = ds.id_song
WHERE id_chart = 102
GROUP BY fcm.id_song, ds.title, ds.id_artists
ORDER by count(*) DESC
LIMIT 10;

 * postgresql://capstoneuser:***@capstone-proj.c0df8unkdobb.us-west-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[('2XU0oxnq2qxCpomAAuJY8K', 12824, 'Dance Monkey', "['2NjfBq1NflQcKSeiDooVjY']"),
 ('1ZxELEYmIoUoTfFVHqpiTe', 8002, 'Sweet but Psycho', "['4npEfmQ6YuiwW1GpUmaq3F']"),
 ('5HIksDGugWk5SM7q9Ua7hY', 7963, 'death bed (coffee for your head)', "['6bmlMHgSheBauioMgKv2tn', '35l9BRT7MXmM8bv2WDQiyB']"),
 ('3fefQTqeZ0dkOAvoJwHfkO', 7106, 'Calma - Remix', "['4QVBYiagIaa6ZGSPMbybpy', '329e4yvIujISKGKz1BZZbO']"),
 ('1KnrEzLrdw6Gx2iAmGfYMh', 6912, 'Falling', "['7uaIm6Pw7xplS8Dy06V6pT']"),
 ('3dCC7aodARJimlvDnlh1mo', 6528, 'Someone You Loved', "['4GNC7GD6oZMSxPGyXy4MNB']"),
 ('3Dv1eDb0MEgF93GpLXlucZ', 6378, 'Say So', "['5cj0lLjcoR7YOSnhnX0Po5']"),
 ('0E9ZjEAyAwOXZ7wJC0PD33', 6335, 'In My Mind', "['3v6Ji4uoWtKRkhuDUaxi9n', '1OAjDaKgg00KCUYqDe68un']"),
 ('51Fjme0JiitpyXKuyQiCDo', 6187, 'Lalala', "['6USMTwO0MNDnKte5a5h0xx', '41X1TR6hrK8Q2ZCpp2EqCz']"),
 ('0nbXyq5TXYPCO7pr3N8S4I', 5745, 'The Box', "['757aE44tKEUQEqRuT6GnEB']")]

In [63]:
%%sql
SELECT *
FROM dim_song ds 
LIMIT 1;

 * postgresql://capstoneuser:***@capstone-proj.c0df8unkdobb.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[('3kN1BVeAFHDJbDqhIZ5eQ5', '"Ah, Captain Bachetti..."', "['7qGitvYBnbiDSaYGHp7TxR', '3QTDFxvTx8fhAb9FIMowKG', '6vr32iVlTxTUGGXiEHgiqe']", '10m71wmOyuPRSB7EB8zKwf', datetime.date(2013, 7, 2), False, 48293, 177, 3, Decimal('5'), 0.62, 0.36, -16.79, 0.95, 0.59, 0.0, 0.63, 0.84)]

**Analysis**: get the average tempo, song length, danceability etc. of top 1000, and compare those averages. to the averages of all of the songs

In [111]:
create_pop_attr_comparison = """
DROP TABLE IF EXISTS pop_attr_comparison;

CREATE TABLE pop_attr_comparison AS

WITH top_song_ids AS (
    SELECT DISTINCT fcm.id_song
    FROM fct_chart_movement fcm
    JOIN dim_song ds 
        ON fcm.id_song = ds.id_song
    WHERE id_chart = 102
    GROUP BY fcm.id_song, ds.title, ds.id_artists
    ORDER by count(*) DESC
    LIMIT 1000
)

SELECT 
      'TRUE' AS is_top_songs
    , AVG(duration_ms)                                          AS avg_duration
    , AVG(tempo)                                                AS avg_tempo
    , ROUND(SUM(CAST(explicit AS INT))/(COUNT(*) * 1.0), 3)     AS explicit_pct
    , ROUND(AVG(danceability), 3)                               AS avg_danceability
    , ROUND(AVG(energy), 3)                                     AS avg_energy
    , ROUND(AVG(loudness), 3)                                   AS avg_loudness
    , ROUND(AVG(speechiness), 3)                                AS avg_speechiness
    , ROUND(AVG(acousticness), 3)                               AS avg_acousticness  
    , ROUND(AVG(instrumentalness), 3)                           AS avg_instrumentalness          
    , ROUND(AVG(liveness), 3)                                   AS avg_liveness
    , ROUND(AVG(valence), 3)                                    AS avg_valence
FROM top_song_ids tsi
JOIN dim_song ds
    ON tsi.id_song = ds.id_song

UNION

SELECT 
     'FALSE' AS is_top_songs
    , AVG(duration_ms)
    , AVG(tempo)
    , ROUND(SUM(CAST(explicit AS INT))/(COUNT(*) * 1.0), 3)
    , ROUND(AVG(danceability), 3)
    , ROUND(AVG(energy), 3)
    , ROUND(AVG(loudness), 3)
    , ROUND(AVG(speechiness), 3)
    , ROUND(AVG(acousticness), 3)
    , ROUND(AVG(instrumentalness), 3)
    , ROUND(AVG(liveness), 3)
    , ROUND(AVG(valence), 3)
FROM dim_song;
""".format('dim_song', ARN)

In [112]:
%sql $create_pop_attr_comparison

 * postgresql://capstoneuser:***@capstone-proj.c0df8unkdobb.us-west-2.redshift.amazonaws.com:5439/dev
Done.
Done.

[]

In [146]:
%%sql
SELECT *
FROM pop_attr_comparison;

 * postgresql://capstoneuser:***@capstone-proj.c0df8unkdobb.us-west-2.redshift.amazonaws.com:5439/dev
2 rows affected.

[('TRUE', 206171, 122, Decimal('0.250'), 0.682, 0.632, -6.584, 0.107, 0.233, 0.028, 0.183, 0.505),
 ('FALSE', 249290, 117, Decimal('0.074'), 0.495, 0.511, -11.73, 0.085, 0.445, 0.285, 0.201, 0.424)]

------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

## Popular song characteristics by country

**Description**: Seeing if the above varies based on the region. For example, does tempo and/or danceability matter more in certain regions? This could be based on region (eg Europe) or specific country

In [66]:
%%sql
SELECT fcm.id_song, count(*), title, ds.id_artists
FROM fct_chart_movement fcm
JOIN dim_song ds 
    ON fcm.id_song = ds.id_song
WHERE id_chart = 102
GROUP BY fcm.id_song, ds.title, ds.id_artists
ORDER by count(*) DESC
LIMIT 6;

 * postgresql://capstoneuser:***@capstone-proj.c0df8unkdobb.us-west-2.redshift.amazonaws.com:5439/dev
6 rows affected.

[('2XU0oxnq2qxCpomAAuJY8K', 12824, 'Dance Monkey', "['2NjfBq1NflQcKSeiDooVjY']"),
 ('1ZxELEYmIoUoTfFVHqpiTe', 8002, 'Sweet but Psycho', "['4npEfmQ6YuiwW1GpUmaq3F']"),
 ('5HIksDGugWk5SM7q9Ua7hY', 7963, 'death bed (coffee for your head)', "['6bmlMHgSheBauioMgKv2tn', '35l9BRT7MXmM8bv2WDQiyB']"),
 ('3fefQTqeZ0dkOAvoJwHfkO', 7106, 'Calma - Remix', "['4QVBYiagIaa6ZGSPMbybpy', '329e4yvIujISKGKz1BZZbO']"),
 ('1KnrEzLrdw6Gx2iAmGfYMh', 6912, 'Falling', "['7uaIm6Pw7xplS8Dy06V6pT']"),
 ('3dCC7aodARJimlvDnlh1mo', 6528, 'Someone You Loved', "['4GNC7GD6oZMSxPGyXy4MNB']")]

In [113]:
create_pop_attr_countries = """
DROP TABLE IF EXISTS pop_attr_countries;

CREATE TABLE pop_attr_countries AS

WITH top_songs AS (
    SELECT id_country, fcm.id_song, COUNT(*)
    FROM fct_chart_movement fcm
    JOIN dim_song ds 
        ON fcm.id_song = ds.id_song
    WHERE id_chart = 102
    GROUP BY id_country, fcm.id_song
    HAVING COUNT(*) > 10
    ORDER BY id_country, COUNT(*) DESC
)

SELECT 
      dc.id_country
    , dc.name
    , AVG(duration_ms)                                          AS avg_duration
    , AVG(tempo)                                                AS avg_tempo
    , ROUND(SUM(CAST(explicit AS INT))/(COUNT(*) * 1.0), 3)     AS explicit_pct
    , ROUND(AVG(danceability), 3)                               AS avg_danceability
    , ROUND(AVG(energy), 3)                                     AS avg_energy
    , ROUND(AVG(loudness), 3)                                   AS avg_loudness
    , ROUND(AVG(speechiness), 3)                                AS avg_speechiness
    , ROUND(AVG(acousticness), 3)                               AS avg_acousticness  
    , ROUND(AVG(instrumentalness), 3)                           AS avg_instrumentalness          
    , ROUND(AVG(liveness), 3)                                   AS avg_liveness
    , ROUND(AVG(valence), 3)                                    AS avg_valence
FROM top_songs ts
JOIN dim_song ds
    ON ts.id_song = ds.id_song 
JOIN dim_country dc
    ON ts.id_country = dc.id_country
GROUP BY dc.id_country, dc.name;
""".format('dim_song', ARN)

In [114]:
%sql $create_pop_attr_countries

 * postgresql://capstoneuser:***@capstone-proj.c0df8unkdobb.us-west-2.redshift.amazonaws.com:5439/dev
Done.
Done.

[]

In [16]:
%%sql
SELECT *
FROM pop_attr_countries
LIMIT 14;

 * postgresql://capstoneuser:***@capstone-proj.c0df8unkdobb.us-west-2.redshift.amazonaws.com:5439/dev
14 rows affected.

[(163, 'Poland', 206117, 122, Decimal('0.276'), 0.672, 0.644, -6.919, 0.105, 0.24, 0.048, 0.193, 0.503),
 (128, 'Honduras', 213840, 122, Decimal('0.209'), 0.677, 0.657, -6.246, 0.097, 0.228, 0.015, 0.176, 0.52),
 (139, 'Japan', 224225, 122, Decimal('0.148'), 0.65, 0.703, -5.702, 0.085, 0.176, 0.036, 0.191, 0.528),
 (110, 'Denmark', 194419, 124, Decimal('0.378'), 0.7, 0.625, -6.875, 0.123, 0.227, 0.026, 0.186, 0.506),
 (106, 'Colombia', 214682, 123, Decimal('0.220'), 0.69, 0.654, -6.323, 0.105, 0.247, 0.026, 0.181, 0.533),
 (113, 'Guatemala', 208276, 122, Decimal('0.185'), 0.7, 0.641, -6.281, 0.098, 0.249, 0.014, 0.174, 0.554),
 (150, 'India', 204896, 120, Decimal('0.242'), 0.696, 0.6, -7.255, 0.101, 0.289, 0.038, 0.188, 0.51),
 (102, 'Bulgaria', 205678, 122, Decimal('0.318'), 0.698, 0.638, -6.366, 0.122, 0.208, 0.018, 0.187, 0.481),
 (100, 'Australia', 202632, 121, Decimal('0.286'), 0.675, 0.637, -6.688, 0.118, 0.22, 0.038, 0.181, 0.477),
 (159, 'Philippines', 208741, 120, Decimal('0.212'), 0.662, 0.6, -6.853, 0.091, 0.28, 0.021, 0.178, 0.478),
 (175, 'Taiwan', 209219, 123, Decimal('0.181'), 0.639, 0.621, -6.76, 0.088, 0.256, 0.019, 0.176, 0.46),
 (103, 'Andorra', 225887, 119, Decimal('0.112'), 0.65, 0.643, -7.081, 0.073, 0.237, 0.015, 0.182, 0.551),
 (117, 'Ireland', 205469, 121, Decimal('0.270'), 0.673, 0.636, -6.661, 0.115, 0.224, 0.036, 0.183, 0.488),
 (171, 'Spain', 211445, 122, Decimal('0.246'), 0.687, 0.659, -6.298, 0.109, 0.254, 0.032, 0.188, 0.537)]

------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

## Countries that are leading the trends

**Description**: What is the influence of certain countries' top music charts? For example, the top songs in the US become the top songs in Europe a few weeks after that, and in Asia, another few weeks after that

#### ** Analysis explanation **: 

First, got a sub table with only the first time a given song appears on the top radio charts of that country. Then, do some self joins based on the song ID but different countries. For example, one row might be that ‘ levitating’ first appeared on the United States charts on April 7th, and that it first appeared on the French charts on April 12th. could an additional column that has the number of days in between (e.g., 5), and another case statement for who came first

In [ ]:
create_first_chart_appearance = """
DROP TABLE IF EXISTS first_chart_appearance;

CREATE TABLE first_chart_appearance AS

WITH first_appearance AS (

SELECT 
      id_song
    , id_country
    , MIN(ds)                            AS ds
FROM fct_chart_movement
WHERE id_chart = 102 
GROUP BY id_song, id_country  
) 

SELECT 
      fa1.id_song
    , fa1.id_country                    AS leader_country_id
    , dc1.name                          AS leader_country_name
    , fa1.ds                            AS leader_ds
    , fa2.id_country                    AS follower_country_id
    , dc2.name                          AS follower_country_name
    , fa2.ds                            AS follower_ds
    , DATEDIFF(day, fa1.ds, fa2.ds)     AS days_between
FROM first_appearance fa1
JOIN first_appearance fa2
    ON fa1.id_song = fa2.id_song
JOIN dim_country dc1 
    ON fa1.id_country = dc1.id_country
JOIN dim_country dc2 
    ON fa2.id_country = dc2.id_country
    AND fa1.ds < fa2.ds
WHERE dc1.name != 'Global';
""".format('dim_song', ARN)

In [118]:
%sql $create_first_chart_appearance

 * postgresql://capstoneuser:***@capstone-proj.c0df8unkdobb.us-west-2.redshift.amazonaws.com:5439/dev
Done.
Done.

[]

In [121]:
%%sql
SELECT *
FROM first_chart_appearance
LIMIT 8;

 * postgresql://capstoneuser:***@capstone-proj.c0df8unkdobb.us-west-2.redshift.amazonaws.com:5439/dev
8 rows affected.

[('4frr19lIKPxLo690m94MAR', 105, 'France', datetime.date(2017, 7, 28), 122, 'Hungary', datetime.date(2017, 7, 29), 1),
 ('4frr19lIKPxLo690m94MAR', 127, 'Dominican Republic', datetime.date(2017, 7, 28), 122, 'Hungary', datetime.date(2017, 7, 29), 1),
 ('4frr19lIKPxLo690m94MAR', 117, 'Ireland', datetime.date(2017, 7, 15), 122, 'Hungary', datetime.date(2017, 7, 29), 14),
 ('4frr19lIKPxLo690m94MAR', 112, 'Brazil', datetime.date(2017, 7, 9), 122, 'Hungary', datetime.date(2017, 7, 29), 20),
 ('52tOfoZHli2cGO6jvBSRH3', 147, 'Netherlands', datetime.date(2017, 7, 31), 117, 'Ireland', datetime.date(2017, 8, 2), 2),
 ('4frr19lIKPxLo690m94MAR', 168, 'United States', datetime.date(2017, 6, 23), 118, 'Global', datetime.date(2017, 6, 29), 6),
 ('283fC78iSwdjeo5OM5nlQp', 151, 'New Zealand', datetime.date(2017, 7, 22), 152, 'Singapore', datetime.date(2017, 7, 24), 2),
 ('283fC78iSwdjeo5OM5nlQp', 147, 'Netherlands', datetime.date(2017, 7, 14), 152, 'Singapore', datetime.date(2017, 7, 24), 10)]

#### Exploration

In [122]:
create_ten_leading_countries = """
DROP TABLE IF EXISTS ten_leading_countries;

CREATE TABLE ten_leading_countries AS

SELECT 
      leader_country_id
    , leader_country_name
    , COUNT(*)                       AS song_leadership_count   
    , SUM(days_between)              AS total_days_between
    , AVG(days_between)              AS avg_days_between
FROM first_chart_appearance
GROUP BY leader_country_id, leader_country_name  
ORDER BY song_leadership_count DESC
LIMIT 10;
""".format('dim_song', ARN)

In [123]:
%sql $create_ten_leading_countries

 * postgresql://capstoneuser:***@capstone-proj.c0df8unkdobb.us-west-2.redshift.amazonaws.com:5439/dev
Done.
Done.

[]

In [144]:
%%sql
SELECT *
FROM ten_leading_countries
ORDER BY song_leadership_count DESC;

 * postgresql://capstoneuser:***@capstone-proj.c0df8unkdobb.us-west-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[(168, 'United States', 19692, 1269079, 64),
 (101, 'Canada', 18149, 1187009, 65),
 (164, 'United Kingdom', 17023, 810608, 47),
 (117, 'Ireland', 16843, 889409, 52),
 (100, 'Australia', 15672, 595630, 38),
 (122, 'Hungary', 15591, 689870, 44),
 (151, 'New Zealand', 15536, 925142, 59),
 (124, 'Greece', 14472, 1219656, 84),
 (140, 'Lithuania', 14067, 1146470, 81),
 (143, 'Latvia', 13973, 1518089, 108)]

In [125]:
create_ten_following_countries = """
DROP TABLE IF EXISTS ten_following_countries;

CREATE TABLE ten_following_countries AS

SELECT 
      leader_country_id
    , leader_country_name
    , COUNT(*)                       AS song_leadership_count   
    , SUM(days_between)              AS total_days_between
    , AVG(days_between)              AS avg_days_between
FROM first_chart_appearance
GROUP BY leader_country_id, leader_country_name  
ORDER BY song_leadership_count  
LIMIT 10;
""".format('dim_song', ARN)

In [126]:
%sql $create_ten_following_countries

 * postgresql://capstoneuser:***@capstone-proj.c0df8unkdobb.us-west-2.redshift.amazonaws.com:5439/dev
Done.
Done.

[]

In [147]:
%%sql
SELECT *
FROM ten_following_countries
ORDER BY song_leadership_count;

 * postgresql://capstoneuser:***@capstone-proj.c0df8unkdobb.us-west-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[(184, 'South Korea', 38, 667, 17),
 (137, 'Russia', 1470, 29964, 20),
 (141, 'Ukraine', 1481, 28238, 19),
 (150, 'India', 3624, 106736, 29),
 (191, 'Morocco', 3676, 91139, 24),
 (187, 'Egypt', 3797, 125434, 33),
 (103, 'Andorra', 3926, 1261558, 321),
 (176, 'Vietnam', 6000, 267825, 44),
 (121, 'Nicaragua', 6301, 748436, 118),
 (133, 'Saudi Arabia', 6355, 210472, 33)]

------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [20]:
%%sql
SELECT *
FROM dim_agg_influence
ORDER BY total_scaled DESC
LIMIT 10;

 * postgresql://capstoneuser:***@capstone-proj.c0df8unkdobb.us-west-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[(234, 'Elvis Presley', 1, 167, 1975, 3632, 4162, 4415, 4533, 4598, 4619, 4630, 4631, 1571.224609375),
 (169, 'Cab Calloway', 1, 28, 396, 2594, 4634, 4847, 4880, 4884, 4884, 4884, 4884, 1029.90625),
 (679, 'The Clash', 1, 137, 897, 1670, 1972, 2284, 2541, 2818, 3197, 3538, 3818, 783.69921875),
 (927, 'Willie Nelson', 1, 67, 487, 1453, 2495, 3143, 3532, 3817, 4126, 4313, 4462, 708.294921875),
 (1407, 'Jethro Tull', 1, 15, 182, 742, 1753, 2264, 2522, 2751, 2900, 2996, 3141, 409.275390625),
 (2537, 'Phosphorescent', 1, 4, 76, 499, 1456, 2496, 3143, 3532, 3817, 4126, 4313, 359.470703125),
 (1230, 'Little Eva', 1, 4, 61, 521, 1574, 2389, 2740, 2911, 3145, 3336, 3648, 345.88671875),
 (1075, 'Donny Hathaway', 1, 32, 206, 611, 1008, 1491, 1676, 1752, 1774, 1789, 1808, 306.298828125),
 (38, 'Red Hot Chili Peppers', 1, 40, 289, 529, 703, 908, 1031, 1114, 1239, 1372, 1453, 264.857421875),
 (1443, 'Celia Cruz', 1, 22, 61, 156, 426, 1302, 2668, 3675, 3974, 4122, 4272, 214.37890625)]